/* general styles */
body {
  font-family: "Trebuchet MS";
  
  padding: 30px 15px 0px;
}

a img {
  border: 0px;
}

p {
  margin: 1em 0px;
}

#banner {
  text-align: center;
  margin-bottom: 3em;
}
#page-title {
  font-size: 4em;
}
#page-subtitle {
  margin: 0px;
}

h1 {
  font-size: 2em;
  float: left;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.2em;
  clear: left;
  margin-bottom: 30px;
  font-style: italic;
}
/* END general styles */

/* flash styles */
.flash {
  padding: 0 10px;
  margin: 20px 0px;
  font-weight: bold;
}
.flash.success {
  border: 1px solid #009900;
  background-color: #B3FFC6;
}
.flash.error {
  border: 1px solid #FF4405;
  background-color: #FFA385;
}
/* END flash styles */


/* index styles */
/*
#articles.index #create-new {
  line-height: 2em;
  display: block;
  float: left;
  text-decoration: none;
  margin: 0px 100px;
}
*/
#articles.index .paginate-controller {
  clear: both;
  text-align: center;
}

#articles.index #article-list {
  clear: both;
  margin-top: 15px;
}
#articles.index #article-list .title-col {
  width: 20%;
}
#articles.index #article-list .body-col {
  width: 38%;
}
#articles.index #article-list .action-col {
  border: none !important;
  background-color: #FFF !important;
  vertical-align: middle;
  /* 3 * 16px + padding + border + scrollbar_width */
  width: 85px;
}
#articles.index #article-list th {
  background-color: #999;
  font-weight: bold;
  text-align: left;
  padding: 0.25em;
}
#articles.index #article-list th.create-date-col {
  text-align: center;
}
#articles.index #article-list td {
  height: 3.5em;
  padding: 0.25em;
}
#articles.index #article-list tbody.maxed {
  /* 10 * article-list_height; max size also hard-coded in index.html.erb */
  height: 35em;
  /* overflow-x not supported properly by IE */
  overflow-y: auto;
  overflow-x: hidden;
}
#articles.index #article-list tbody tr:nth-child(even) {
  background-color: #EDEDED;
}
#articles.index #article-list tbody tr:nth-child(odd) {
  background-color: #FFD452;
}

#articles.index #article-list tfoot {
  clear: left;
  font-weight: bold;
}
/* END index styles */


/* show/edit/create styles */
#options-basic {
  float: left;
  margin-bottom: 15px;
}
#options-basic li {
  display: inline-block;
}
#options-basic .top-link {
  display: inline-block;
  margin-right: 5em;
  
  line-height: 2em;
  text-decoration: none;
}
#options-basic .top-link img {
  vertical-align: middle;
}

#articles.edit label,
#articles.create label {
  width: 9em;
  display: block;
  clear: left;
  float: left;
  font-size: 1em;
  margin-bottom: 2em;
  margin-right: 2em;
  text-align: right;
}
#articles.edit textarea,
#articles.create textarea {
  width: 40em;
}
#articles.edit input[type="submit"],
#articles.create input[type="submit"] {
  display: block;
  margin-left: 12em;
}
#articles.edit form,
#articles.create form {
  clear: both;
  padding-top: 15px;
}
/* END show/edit/create styles */


/* error styles */
ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin-left: 30px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: #FF6A38;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #FF6A38;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #FF6A38;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/* END error styles */
