/* general styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\000032}}
body {
  font-family: "Trebuchet MS";
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\000037}}
a img {
  border: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000311}}
p {
  margin: 1em 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000315}}
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000320}}
h3 {
  font-size: 1.2em;
  clear: left;
  margin-bottom: 30px;
  font-style: italic;
}

/* END general styles */
/* high-level elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000343}}
#banner {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #FFF;
  background-image: url("../images/Linen-Pattern01.png");
  background-repeat: repeat-x repeat-y;
  background-position: top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000356}}
#banner #page-title {
  font-size: 5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000360}}
#banner #page-subtitle {
  font-size: 1.2em;
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000366}}
ul#menubar {
  clear: both;
  list-style-type: none;
  margin-bottom: 20px;
  background-color: #EFEFEF;
  border-width: 1px;
  border-style: solid;
  border-color: #999;
  border-left: 0px;
  border-right: 0px;
  font-size: 1.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000380}}
ul#menubar li {
  display: inline;
  border-right: 1px dotted #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000384}}
ul#menubar li:last-child {
  border-right: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000387}}
ul#menubar li a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000336}}
ul#menubar li a:hover {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000396}}
#content {
  margin: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003100}}
.flash {
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 0 8px;
  margin: 20px 0px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003111}}
.flash.success {
  border-color: #009900;
  background-color: #e5ffe5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003116}}
.flash.error {
  border-color: #990000;
  background-color: #ffe5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003123}}
#options-basic {
  text-align: center;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003127}}
#options-basic li {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003130}}
#options-basic a.top-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 5em;
  line-height: 2em;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000336}}
#options-basic a.top-link:hover {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003138}}
#options-basic a.top-link img {
  vertical-align: middle;
}

/* END top-level elements */
/* index styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003146}}
.paginate-controller {
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003151}}
body#authors .paginate-controller {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003154}}
.paginate-controller a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\0000336}}
.paginate-controller a:hover {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003159}}
table#general-list {
  clear: both;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003167}}
table#general-list .title-col {
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003170}}
table#general-list .body-col {
  width: 38%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003173}}
table#general-list .action-col {
  border: none !important;
  background-color: #FFF !important;
  vertical-align: middle;
  width: 58px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003180}}
table#general-list th {
  background-color: #999;
  font-weight: bold;
  text-align: left;
  padding: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003186}}
table#general-list th.create-date-col {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003190}}
table#general-list td {
  height: 30px;
  padding: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003196}}
table#general-list tbody tr:nth-child(even) {
  background-color: #EDEDED;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003199}}
table#general-list tbody tr:nth-child(odd) {
  background-color: #FFD452;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003204}}
table#general-list tfoot {
  clear: left;
  font-weight: bold;
}

/* END index styles */
/* show/edit/new styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003212}}
#articles.show img.author-thumbnail {
  float: left;
  margin: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003219}}
body.edit label, body.new label {
  width: 9em;
  display: block;
  clear: left;
  float: left;
  font-size: 1em;
  margin-bottom: 2em;
  margin-right: 2em;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003230}}
body.edit textarea, body.new textarea {
  width: 40em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003234}}
body.edit input[type="submit"], body.new input[type="submit"] {
  display: block;
  margin-left: 12em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003239}}
body.edit form, body.new form {
  clear: both;
  padding-top: 15px;
}

/* END show/edit/new styles */
/* error styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003248}}
.fieldWithErrors {
  padding: 2px;
  background-color: #FF6A38;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003253}}
#errorExplanation {
  width: 400px;
  border: 2px solid #FF6A38;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #F0F0F0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003261}}
#errorExplanation ol, #errorExplanation ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003268}}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #FF6A38;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003277}}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/Workspace\/Ruby\/cs446\/src\/project05\/public\/stylesheets\/sass\/screen\.scss}line{font-family:\00003282}}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* END error styles */
