//http://kuler.adobe.com/#themeID/1234738
!title_color = #FA8D1E
!mastead_link_color = !title_color
!list_even_color = #F9FEF9
!list_odd_color = #B2F3FC


!ui_link_color = #F00
!container_width = 800px

//mixins
@mixin rounded-box($border_radius)
  :-moz-border-radius $border_radius
  :border-radius $border_radius
  
@mixin shadowed-text
  :text-shadow 0px -2px 0px #374683
  
@mixin ui-link
  :text-decoration none
  &:hover
    :color !ui_link_color

@mixin positioning-context
  :position relative

//main
body
  @include positioning-context
  :background
    :image url("../images/Textile-Pattern30.png")
    :repeat repeat-x repeat-y
    :position top left
    
  :font
    :family Verdana, Helvetica, Arial
    :size 14px

@import "masthead.sass"
@import "menubar.sass"


//index
.paginate-controller
  :text-align center
  :padding-bottom 10px
  :font-size 1.2em

  a
    @include ui-link

h2
  :font-size 1.4em
  :margin-bottom 30px
  :font-style italic

//main list
table#general-list
  :width 100%
  
  !cell_padding = 4px
  
  th
    :background-color #999
    :font-weight bold
    :text-align left
    :padding $cell_padding
    
    &.create-date-col
      :text-align center

  td
    :height 30px
    :padding $cell_padding
    
  tbody
    tr
      &:nth-child(even)
        :background-color !list_even_color
      &:nth-child(odd)
        :background-color !list_odd_color
  
  tfoot
    :font-weight bold
    :text-align center

//main form
form
  label, input, textarea
    :margin-bottom 1em
    
  label
    :width 14em
    :display block
    :clear left
    :float left
    :font-size 1em
    :margin-right 1em
    :text-align right
    
  input[ type="submit" ]
    display: block
    margin-left: 15em

a
  @include ui-link
  :color #0000FF
  img
    :border none

.clear
  :clear both
  :height 0
  :overflow hidden

#container
  :width !container_width
  :margin 80px auto 0px
  :background #fff
  :padding 20px 40px
  :border solid 1px black

@import "flash_messages.sass"
@import "errors.sass"
