/* general styles */
body {
  font-family: "Trebuchet MS";
  margin: 0px;
}

a img {
  border: 0px;
}

p {
  margin: 1em 0px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2em;
  clear: left;
  margin-bottom: 30px;
  font-style: italic;
}
/* END general styles */

//general mixins
@mixin rounded-box($border_radius) {
  -moz-border-radius: $border_radius;
  border-radius: $border_radius;
}
@mixin ui-link {
  text-decoration: none;
  
  &:hover {
    color: red;
  } 
}
// END general mixins

/* high-level elements */
#banner {
  text-align: center;
  padding: {
    top: 1em;
    bottom: 2em;
  }
  background: {
    color: #FFF;
    image: url("../images/Linen-Pattern01.png");
    repeat: repeat-x repeat-y;
    position: top left;
  }
  
  #page-title {
    font-size: 5em;
  }

  #page-subtitle {
    font-size: 1.2em;
    margin: 0px;
  }
}

ul#menubar {
  clear: both;
  list-style-type: none;
  margin-bottom: 20px;
  background-color: #EFEFEF;
  border: {
    width: 1px;
    style: solid;
    color: #999;
    left: 0px;
    right: 0px;
  }
  font-size: 1.3em;
  
  li {
    display: inline;
    border-right: 1px dotted #000;
    
    &:last-child {
      border-right: none;
    }
    a {
      @include ui-link;
    
      display: inline-block;
      padding: 8px 16px;
    }
  }
}

#content {
  margin: 0 10px;
}

.flash {
  @include rounded-box(8px);
  
  padding: 0 8px;
  margin: 20px 0px;
  font-weight: bold;
  border: {
    width: 1px;
    style: solid;
  }
  
  &.success {
    $base_color: #090;
    border-color: $base_color;
    background-color: lighten($base_color, 65%);
  }
  &.error {
    $base_color: #900;
    border-color: $base_color;
    background-color: lighten($base_color, 65%);
  }
}

#options-basic {
  text-align: center;
  margin-bottom: 15px;
  
  li {
    display: inline-block;
  }
  a.top-link {
    @include ui-link;
  
    display: inline-block;
    margin-right: 5em;
    line-height: 2em;
    text-decoration: none;
    
    img {
      vertical-align: middle;
    }
  }
}
/* END top-level elements */

/* index styles */
.paginate-controller {
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.2em;
  
  body#authors & {
    text-align: left;
  }
  a {
    @include ui-link;
  }
}

table#general-list {
  clear: both;
  margin-top: 15px;
  
  //needed to calculate action-col width
  $cell_padding: 4px;
  $image_width: 16px;
  
  .title-col {
    width: 20%;
  }
  .body-col {
    width: 38%;
  }
  .action-col {
    border: none !important;
    background-color: #FFF !important;
    vertical-align: middle;
    //not sure why the 2px is necessary
    width: 3 * $image_width + 2 * $cell_padding + 2px;
  }
  th {
    background-color: #999;
    font-weight: bold;
    text-align: left;
    padding: $cell_padding;
    
    &.create-date-col {
      text-align: center;
    } 
  }
  td {
    height: 30px;
    padding: $cell_padding;
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #EDEDED;
      }
      &:nth-child(odd) {
        background-color: #FFD452;
      }
    }
  }
  tfoot {
    clear: left;
    font-weight: bold;
  }
}
/* END index styles */

/* show/edit/new styles */
#articles.show img.author-thumbnail {
  float: left;
  margin: 12px;
}

body {
  &.edit label,
  &.new label {
    width: 9em;
    display: block;
    clear: left;
    float: left;
    font-size: 1em;
    margin-bottom: 2em;
    margin-right: 2em;
    text-align: right;
  }
  &.edit textarea,
  &.new textarea {
    width: 40em;
  }
  &.edit input[type="submit"],
  &.new input[type="submit"] {
    display: block;
    margin-left: 12em;
  }
  &.edit form,
  &.new form {
    clear: both;
    padding-top: 15px;
  }
}
/* END show/edit/new styles */

/* error styles */
.fieldWithErrors {
  padding: 2px;
  background-color: #FF6A38;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #FF6A38;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #F0F0F0;
  
  ol, ul {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-left: 30px;
  }
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #FF6A38;
    color: #fff;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
/* END error styles */
