/* general styles */
body {
  font-family: "Trebuchet MS";
  
  padding: 30px 10px 0px;
}

a img {
  border: 0px;
}

p {
  margin: 1em 0px;
}

#banner {
  text-align: center;
  margin-bottom: 3em;
}
#page-title {
  font-size: 4em;
}
#page-subtitle {
  margin: 0px;
}

h1 {
  font-size: 2em;
  float: left;
  margin-bottom: 15px;
}
h3 {
  font-size: 1.2em;
  clear: left;
  margin-bottom: 30px;
  font-style: italic;
}
/* END general styles */


/* index styles */
#articles-index #create-new {
  line-height: 2em;
  display: block;
  float: left;
  text-decoration: none;
  margin: 0px 100px;
}

#articles-index #article-list {
  clear: left;
  margin: 2em 0px;
}
#articles-index #article-list .title-col {
  width: 20%;
}
#articles-index #article-list .body-col {
  width: 38%;
}
#articles-index #article-list .action-col {
  border: none !important;
  background-color: #FFF !important;
  vertical-align: middle;
  /* 3 * 16px + padding + border + scrollbar_width */
  width: 85px;
}
#articles-index #article-list th {
  background-color: #999;
  font-weight: bold;
  text-align: left;
  padding: 0.25em;
}
#articles-index #article-list td {
  height: 3.5em;
  padding: 0.25em;
}
#articles-index #article-list tbody {
  /* 10 * article-list_height */
  height: 35em;
  /* overflow-x not supported properly by IE */
  overflow-y: auto;
  overflow-x: hidden;
}
#articles-index #article-list tbody tr:nth-child(even) {
  background-color: #EDEDED;
}
#articles-index #article-list tbody tr:nth-child(odd) {
  background-color: #FFD452;
}
/* END index styles */


/* show/edit/create styles */
#articles-show .top-link,
#articles-edit .top-link,
#articles-create .top-link {
  display: inline-block;
  margin-right: 5em;
  
  text-decoration: none;
  margin-bottom: 2em;
  
}

#articles-edit label,
#articles-create label {
  width: 9em;
  display: block;
  clear: left;
  float: left;
  font-size: 1em;
  margin-bottom: 2em;
  margin-right: 2em;
  text-align: right;
}
#articles-edit input,
#articles-edit textarea,
#articles-create input,
#articles-create textarea {
  margin-bottom: 2em;
}
#articles-edit textarea,
#articles-create textarea {
  width: 40em;
}
#articles-edit input[type="submit"],
#articles-create input[type="submit"] {
  display: block;
  margin-left: 12em;
}
#articles-edit form,
#articles-create form {
  padding-top: 70px;
}
/* END show/edit/create styles */
