- title "Users"

- if @users.size > 0
  .paginate-controller= will_paginate @users
  %table#general-list
    %thead
      %tr
        %th Name
        %th Username
        %th Number of Games
    %tbody
      - for user in @users
        %tr
          %td= link_to user.to_s, edit_admin_user_path(user)
          %td= h user.username
          %td= h user.games_count
- else
  %p There are no users in the database.
