- title "Roles"
%p= link_to "Add a role", new_admin_role_path
%br/
- if @roles.size > 0
  %table#general-list
    %thead
      %tr
        %th Name
        %th Number of Users
    %tbody
      - for role in @roles
        %tr
          %td= link_to role.to_s, edit_admin_role_path(role)
          %td= h role.users_count
- else
  %p There are no roles in the database.
